* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.chat-container {
    height: 100vh;
    background: radial-gradient(circle at top right, hotpink, blue 60%) no-repeat fixed;
}

.App-logo {
    height: 10vh;
    pointer-events: none;
}

.chat-component {
    margin: auto;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    color: aliceblue;
    /*border: 5px solid black;*/
    background: black;
    overflow: auto;
    padding: 2%;
    padding-bottom: 15%;
}

.chat-component-container{
    position: relative;
    margin: auto;
    width: 50%;
    height: 70%;
    /*padding: 2%;*/
}

.chat-card {
    margin: auto;
    margin-bottom: 2%;
    width: 95%;
    background: gray;
    padding: 2%;
    border-radius: 15px;
    word-wrap: break-word;
}

.user-name {
    color: black;
    /*padding: 1%;*/
}

.user-name p {
    display: inline;
}

svg {
    height: 5px;
    vertical-align: middle;
}

.input-area{
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    /*border: 5px solid aliceblue;*/
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background: white;
    padding: 15px 0;
    vertical-align: middle;
}

#user{
    /*width: 15%;*/
    font-weight: bold;
    /*border-right: 1px solid black;*/
    border: none;
    padding: 2px 1%;
    text-align: center;
}

#message{
    width: 85%;
    border: none;
    text-wrap: normal;
    resize: none;
    padding: 2px 1%;
}

*:focus{
    outline: none;
}

.counter{
    position: absolute;
    bottom: 2%;
    right: 2%;
    display: block;
    color: gray;
    font-size: smaller;

}

.submit-btn{
    position: absolute;
    bottom: -10%;
    right: 0;
    color: antiquewhite;
    font-weight: bold;
    border: 2px solid antiquewhite;
    border-radius: 5px;
    background: transparent;
    padding: 2px 5%;
}
