* {
    margin: 0;
    padding: 0;
}

.chat-container {
    height: 100vh;
    background: radial-gradient(circle at top right, hotpink, blue 60%) no-repeat fixed;
}

.App-logo {
    height: 10vh;
    pointer-events: none;
}

.chat-component {
    margin: auto;
    width: 50%;
    height: 70%;
    border-radius: 15px;
    color: aliceblue;
    border: 5px solid black;
    background: black;
    overflow: auto;
    padding: 2%;
}

.chat-card {
    margin: auto;
    margin-bottom: 2%;
    width: 95%;
    background: gray;
    padding: 2%;
    border-radius: 15px;
}

.user-name {
    color: black;
    /*padding: 1%;*/
}

.user-name p {
    display: inline;
}

svg {
    height: 5px;
    vertical-align: middle;
}